body {
  background-color: #e5ebef;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 8px;
  padding-bottom: 80px;
}


.pockemon-page-header {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 12px;
}

.pockemon-page-content {
  display: flex;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.pockemon-page-info {
  width: 100%;
}

.pockemon-page-type-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.pockemon-page-types {
  border-radius: 35%;
  background-color: coral;
  margin-right: 8px;
  padding: 4px 8px;
}

.pockemon-page-stats-list {
  dt {
    float: left;
    width: 70%;
  }

  dd {
    padding-left: 70%;
  }
}

.pockemon-table {
  width: 100%;
  align-self: flex-start;
  table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
  }
}
